*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%0;
}


body{
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fff;
  color: #243a6f;
  position: relative;
  z-index: 1;
}



h1,h2,h3,h4{
  font-weight: 500;
}


a{
  color: inherit;
  text-decoration: none;
}


img{
  max-width: 100%;
}

li{
  list-style-type: none;
}

.container{
  max-width: 120rem;
  margin: 0 auto;
}

.container-md{
  max-width: 100rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px){
  .container{
    padding: 0 3rem;
  }

  .container-md{
    padding: 0 3rem;
  }
}

.header{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #d1e2e9;
  overflow: hidden;
}

.nav{
  padding: 1.6rem 0;
}

.nav.fix-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #243a6f;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 999;
}

.nav.fix-nav .nav-link,
.nav.fix-nav .logo,
.nav.fix-nav .cart-icon,
.nav.fix-nav .hamburger{
  color: #fff;
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1{
  font-size: 2.5rem;
}

.top-nav{
  display: none;
}

.nav-list{
  display: flex;
  align-items: center;
}
  

.nav-item:not(:last-child){
  margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited{
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}

.nav-link.icon{
  font-size: 3rem;
}

.hamburger{
  display: none;
}

.cart-icon{
  display: none;
}

@media only screen and (max-width: 768px){
  .menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    max-width: 40rem;
    height: 100%;
    background-color: #fff;
    transition: all 500ms ease-in-out;
    z-index: 100;
  }

  .menu.show{
    left: 0;
  }

  .top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #243a6f;
    padding: 1rem 1.6rem;
  }

  .top-nav .logo{
    color: #fff;
  }

  .top-nav .close{
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
  }

  .cart-icon{
    display: block;
    font-size: 3rem;
  }

  .hamburger{
    display: block;
    font-size: 3rem;
    padding: .5rem;
    cursor: pointer;
  }

  .nav-list{
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
  }

  .nav-link:link,
  .nav-link:visited{
    display: block;
    font-size: 1.7rem;
    padding: 1rem 0;
  }

  .nav.fix-nav .nav-link{
    color: #243a6f;
  }

  .nav-link.icon{
    display: none;
  }

  body.show::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 4;
  }

  .nav.show{
    background-color: rgba(0,0,0,0.8);
  }
}

/* Hero */

.header .hero-img{
  position: absolute;
  bottom: -10%;
  right: -5%;
  height: 70rem;
  object-fit: contain;
}

.hero-content{
  position: absolute;
  top: 50%;
  transform: translate(25%, -50%);
}

.hero-content h2{
  color: #b888ff;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-content .discount{
  color: #fbb419;
}

.hero-content h1 span{
  color: #253b70;
  font-size: 6rem;
  font-weight: 700;
  display: block;
  line-height: 1;
  text-shadow: 3px 3px 0 #f1f1f1, 4px 4px 0 #f1f1f1;
}

.btn{
  display: inline-block;
  background-color: #fc7c7c;
  padding: 1.2rem 4rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 3rem;
}


@media only screen and (max-width: 1200px){
  .header .hero-img{
    right: -20%;
  }

  .hero-content{
    transform: translate(20%,-50%);
  }

  .hero-content h2{
    font-size: 2rem;
  }

  .hero-content h1 span{
    font-size: 5rem;
  }
}

@media only screen and (max-width: 996px){
  .header{
    min-height: 70vh;
  }
  .header .hero-img{
    height: 40rem;
    right: -10%;
  }
}


@media only screen and (max-width: 567px){
  .header{
    min-height: 100vh;
  }

  .header .hero-img{
    bottom: -15%;
    right: 0;
  }

  .hero-content{
    transform: translate(15%,-50%);
  }

  .hero-content h2{
    font-size: 1.8rem;
  }

  .hero-content h1 span{
    font-size: 4rem;
  }

  .hero-content a{
    padding: 1rem 3rem;
  }
}


/* ADVERT */

.section{
  padding: 10rem 0 5rem 0;
}

.advert-center{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
}

.advert-box{
  position: relative;
  color: #fff;
  height: 27rem;
  border-radius: 1.6rem;
  padding: 1.6rem;
  overflow: hidden;
  z-index: 1;
}

.advert-box img{
  position: absolute;
  bottom: 0;
  left: -20%;
  height: 100%;
  width: 35rem;
  z-index: -1;
}

.advert-box:nth-child(1){
  background-color: #f5c5d1;
}

.advert-box:nth-child(2){
  background-color: #a1d1df;
}

.advert-box:nth-child(3){
  background-color: #e5bc00;
}

.advert-box .dotted{
  position: relative;
  height: 100%;
  border: 2px dashed #f1f1f1;
  border-radius: 1rem;
}

.advert-box .content{
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%);
}

.advert-box .content h2,
.advert-box .content h4{
  text-shadow: 5px 6px 0px rgba(37,59,112,0.1);
}

.advert-box .content h2{
  line-height: 1.2;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.advert-box .content h4{
  font-size: 1.5rem;
  text-transform: capitalize;
}

/* Featured */

.title{
  margin: 4rem 0 7rem 0;
  text-align: center;
}

.title h1{
  font-size: 3rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.title h1::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  background-color: #f60091;
  width: 50%;
  height: .4rem;
  z-index: 1;
}

/* Product */

.product-center{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem 3rem;
}

.product{
  height: 48rem;
  background-color: #fff;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.15);
  border-radius: 1rem;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.product:hover{
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.5);
}

.product-header{
  position: relative;
  background-color: #f6f2f1;
  height: 35rem;
  transition: all 300ms ease-in-out;
  z-index: 0;
}

.product-header img{
  height: 100%;
}

.product-footer{
  padding: 2rem 1.6rem 1.6rem 1.6rem;
}

.product-footer h3{
  font-size: 2.2rem;
}

.rating{
  color: #43b3d9;
}

.product-footer .price{
  color: #ff7c9c;
  font-size: 2rem;
}

.product:hover .product-header::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 1rem 1rem 0 0; 
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  transition: all 500ms ease-in-out;
}

.product-header .icons{
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%) scale(0);
  z-index: 2;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.product-header .icons span{
  background-color: #fff;
  font-size: 2.5rem;
  display: block;
  border-radius: 50%;
  padding: 1.5rem 1.6rem;
  line-height: 2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.product-header .icons span i{
  transition: all 500ms ease-in-out;
}

.product-header .icons span:not(:last-child){
  margin-bottom: 1rem;
}

.product-header .icons span:hover{
  background-color: #ff7c9c;
  color: #fff;
}

.product:hover .icons{
  opacity: 1;
  transform: translate(0, -50%) scale(1);
}

.product:hover .icons a{
  display: block;
  margin-bottom: 1rem;
}

/* Product Banner */

.product-banner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50rem;
  background-color: #243a6f;
}

.product-banner .left img{
  object-fit: cover;
  height: 100%;
}

.product-banner .right{
  align-self: center;
  text-align: center;
  padding: 1.6rem;
}

.product-banner .content h2{
  color: #fbb419;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.product-banner .content .discount{
  color: #b888ff;
}

.product-banner .content h1 span{
  color: #fff;
  font-size: 6rem;
  font-weight: 700;
  display: block;
  line-height: 1;
}

@media only screen and (max-width: 996px){
  .product-banner .content h1 span{
    font-size: 5rem;
  }
}

@media only screen and (max-width: 768px){
  .product-banner{
    grid-template-columns: 1fr;
  }

  .product-banner .left{
    display: none;
  }

  .product-banner .content h1 span{
    font-size: 4rem;
  }

  .product-banner .content h2 {
    font-size: 2rem;
  }

  .product-banner .content a {
    padding: 1rem 3rem;
  }
}

/* Testimonial */

.testimonial-center{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
}

.testimonial{
  position: relative;
  padding: 5rem;
  background-color: #fff;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.3);
  transition: all 300ms ease-in-out;
  text-align: center;
  border-radius: 0.5rem;
}

.testimonial:hover{
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,0.4);
  transform: translateY(-1rem);
}

.testimonial span{
  position: absolute;
  top: 2%;
  left: 50%;
  font-size: 12rem;
  transform: translate(-50%, 0);
  line-height: 1;
  font-family: sans-serif;
}

.testimonial p{
  margin: 2rem 0 1rem 0;
}

.testimonial .rating{
  margin-bottom: 1rem;
}

.testimonial .img-cover{
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  margin: 0 auto;
}

.testimonial .img-cover img{
  height: 100%;
  object-fit: cover;
}

.testimonial h4{
  margin-top: 1rem;
}

/* Brands */

.brands-center{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem;
}

.brand{
  height: 8rem;
  width: 8rem;
  margin: 0 auto;
}

.brand img{
  object-fit: contain;
}

@media only screen and (max-width: 768px){
  .brands-center{
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Footer */

.footer{
  background-color: #222;
  padding: 6rem 1rem;
  line-height: 3rem;
}

.footer-center{
  margin-right: 1rem;
}

.footer-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: #fff;
}

.footer-center a:link,
.footer-center a:visited{
  display: block;
  color: #f1f1f1;
  font-size: 1.4rem;
  transition: .6s;
}

.footer-center a:hover{
  color: #f60091;
}

.footer-center div{
  color: #f1f1f1;
  font-size: 1.4rem;
}

.footer-center h3{
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 996px){
  .footer-container{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 768px){
  .footer-container{
    grid-template-columns: 1fr;    
  }
}

/* AllProducts */
.section .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.all-products .top select{
  font-family: "Poppins", sans-serif;
  width: 20rem;
  padding: 1rem;
  border: 1px solid #ccc;
  appearance: none;
  outline: none;
}

form{
  position: relative;
  z-index: 1;
}

form span{
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 2rem;
  z-index: 0;
}

/* Pagination */
.pagination{
  padding: 3rem 0 5rem 0;
}

.pagination span{
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 1px solid #243a6f;
  font-size: 1.8rem;
  margin-bottom: 2rem ;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.pagination span:hover{
  border: 1px solid #243a6f;
  background-color: #243a6f;
  color: #fff;
}

/* Product Details */
.product-detail .details{
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 7rem;
}

.product-detail .details .left{
  display: flex;
  flex-direction: column;
}

.product-detail .details .left .main{
  text-align: center;
  background-color: #fff;
  margin-bottom: 2rem;
  height: 45rem;
  padding: 3rem;
}

.product-detail .details .left .main img{
  object-fit: contain;
  height: 100%;
}

.product-detail .details .thumbnails{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.product-detail .thumbnail{
  width: 10rem;
  height: 10rem;
  background-color: #f6f2f1;
  text-align: center;
}

.product-detail .thumbnail img{
  height: 100%;
  object-fit: contain;
}

.product-detail .right span{
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.product-detail .right h1{
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.product-detail .right .price{
  font-weight: 600;
  font-size: 2rem;
  color: #ff7c9c;
  margin-bottom: 2rem;
}

.product-detail .right div{
  display: inline-block;
  position: relative;
  z-index: 1;
}

.product-detail .right select{
  font-family: "Poppins", sans-serif;
  width: 20rem;
  padding: 0.7rem;
  border: 1px solid #ccc;
  appearance: none;
  outline: none;
}

.product-detail form{
  margin-bottom: 2rem;
}

.product-detail form span{
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  font-size: 2rem;
  z-index: 0;
}

.product-detail .form{
  margin-bottom: 3rem;
}

.product-detail .form input{
  padding: .8rem;
  text-align: center;
  width: 3.5rem;
  margin-right: 2rem;
}

.product-detail .form .addCart{
  background-color: #ff7c9c;
  padding: .8rem 4rem;
  color: #fff;
  border-radius: 3rem ;
}

.product-detail h3{
  text-transform: uppercase;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 996px) {
  .product-detail .left{
    width: 30rem;
    height: 45rem;
  }

  .product-detail .details{
    gap: 3rem;
  }

  .product-detail .thumbnails{
    width: 30rem;
    gap: 0.5rem;
  }

  .product-detail .thumbnail{
    width: auto;
    height: 10rem;
    background-color: #f6f2f1;
    text-align: center;
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 650px){
  .product-detail .details{
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .product-detail .right{
    margin-top: 20rem;
  }

  .product-detail .left{
    width: 100%;
    height: 45rem;
  }

  .product-detail .thumbnails{
    width: 100%;
  }
}

/* cart Items */
.cart{
  margin: 10rem auto;
}

table{
  width: 100%;
  border-collapse: collapse;
}

.cart-info{
  display: flex;
  flex-wrap: wrap;
}

th{
  text-align: left;
  padding: .5rem;
  background-color: #fc7c7c;
  color: #fff;
  font-weight: normal;
}

td{
  padding: 1rem 0.5rem;
}

td input{
  width: 5rem;
  height: 3rem;
  padding: 0.5rem;
}

td a{
  color: orangered;
  font-size: 1.4rem;
}

td img{
  width: 8rem;
  height: 8rem;
  margin-right: 1rem;
}

.total-price{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: end;
  margin-top: 2rem;
}

.total-price table{
  border-top: 3px solid #fc7c7c;
  width: 100%;
  max-width: 35rem;
}

td:last-child{
  text-align: right;
}

th:last-child{
  text-align: right;
}

@media only screen and (max-width: 567px) {
  .cart-info p{
    display: none;
  }
  
}

.section-container{
  text-align:center;
  font-size: 3rem;
}

 


/* Account-html */


.login-body{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#a1d1df, #8e44ad);
  height: 100vh;
  overflow: hidden;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}
